<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusWeekly</title>
    <link rel="shortcut icon" href="campusweeklyfavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="home_style.css" type="text/css">
    <link rel="stylesheet" href="main.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="header1">
            <div class="left-side">
                <i class="fa fa-envelope"> campusweekly@gmail.com</i> |
                <i class="fa fa-phone"> + 256 706 227 344</i>
            </div>
            <div class="right-side">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-linkedin-square"></i>
            </div>
        </div>
        <div class="header2">
            <nav>
                <div class="image">
                    <a>
                        <div>
                            <img src="campusweeklylogo.png" alt="company-logo" class="image-1" height="80px"
                                width="150px">
                        </div>
                    </a>
                </div>
                <ul>
                    <li class="nav-menu-link active"><a href="/">News</a></li>
                    <li class="nav-menu-link"><a href="/personalities">Personalities</a></li>
                    <li class="nav-menu-link"><a href="/lifestyle">Lifestyle</a></li>
                    <li class="nav-menu-link"><a href="/relationships">Sex & Relationships</a></li>
                    <li class="nav-menu-link"><a href="/carrier">Carrier Guidance</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main-container">
        <div class="home-left">
            <h2>HOW MUCH DO YOU KNOW</h2>
            <img src="lukard-logo.jpg" alt="lukard-logo" class="home-image-1" align="left" hspace="20">
            <p>
                Yeah, for sure... How much do you really think you know? <br><br>
                Has it ever crossed your mind of how much information you have not yet come into contact with. How
                ignorant you are at this point
                in time. <br><br>
                Now, what if i told you... that i have a solution to all that.
                "To what exactly," you might ask. <br><br>
                Right here, right now, my brother, my sister, my friend, i present to you a lifetime offer.
                One you dont get chance to meet everyday. <br><br>
                A chance to actually get hands on the treasures of the world. This is actual treasure! Sure enough,
                there has to be some work done.
                So, if you are ready to try your luck on getting your naughty hands on this treasure, here's what you
                are going to do: <br><br>
                Listen up: There are codes embedded in the short stories that all over this website.
                if you can trace, find and decode them, then my friend you will have yourself the map to where the last
                chasis of
                the treasure was shipped to. <br><br>
                Nice decoding. Meet you at that location!!
            </p>
            <h2>SO HOW DOES IT WORK</h2>
            <img src="author.jpg" alt="author" class="home-image-2" align="left" hspace="20">
            <p>
                So, the author on the left joined our cause to help incorporate the codes into his storyline. He has
                been very resourceful to our cause.
                We call him the brain, he always has a way of he does this kind of thing. A reason as to why we actually
                hired him. He goes by the name -
                &copy;Lukard. That is his signature. <br><br>
                The next paragraphs begin his story. Take your time!!
            </p>
            <h2>There is nothing to fear but fear itself…</h2>
            <p>
                It is very true. And am not saying it in the sense that you should think am wise on any account!
                No, am only jotting it down because recently in my life I got enlightened.
                I realized for sure that there’s nothing to fear: well, maybe just one – fear itself.
            </p>
            <p>
                I have this friend of mine. We always joke around. He has got this very charming phrase that he always
                uses.
                He says, “Chase me for all I care...” He usually used this idea when we were joking around life’s
                challenges.
                He had this very open perception.
            </p>
            <p>
                My friend never took life to be such a complexion as many have perceived it over the years.
                Even when it comes to girls, he always told us that he takes the shot and it would be the girl to chase
                him for all he cared.
            </p>
            <p>
                My friend, who for the sake of confidentiality, we are going to call ‘Mike’ as we continue to refer to
                him,
                never burdened himself with the anxiety or fear of failure. He always knew that it was inevitable.
                One has to fail at one point or the other and that life without failure is just not worth living.
            </p>
            <img src="image-1.jpg" alt="image-1" class="home-image-4" align="left">
            <p>
                It’s not life you want if you resent failure. You should actually just enjoy the bumps in the road as
                you ride along.
                Nothing makes the journey less boring like those sure bumps at some point.
                Surely, where’s the fun in driving a straight smooth road the entire time.
            </p>
            <p>
                And as I continued to joke with Mike,
                I came to realize that it is actually these very so called ‘failures’ that bring all the fun.
                There’s really enough comedy in such scenarios.
                No one in the history of comedy and jokes wants to listen to a very perfect life story.
                No hits, no falls, bumps, no stupidity; well, fuck it! That’s now just a bunch of ‘braggatory’ nonsense.
            </p>
            <p>
                I do not want to listen to that. I want something worth my time.
                I don’t want to listen to a bunch of bullshit.
                You have had an entire lifetime to prepare and the best you could think of coming up with during our
                talk
                as a joke is your perfect story of buying two cars. Fuck you!
            </p>
            <!-- cut from here -->
            <p>
                <a href="#">Continue reading &rarr;</a>
            </p>
            <img src="image-4.jpg" alt="image-4" class="home-image-6">
        </div>
        <div class="home-right">
            <div class="search-div">
                <form action="#">
                    <label for="s">Search for:</label>&nbsp;&nbsp;
                    <input type="search" placeholder="Search..." name="s" id="s" value="">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Search">
                </form>
            </div>
            <div class="side-bar">
                <h3>Side-bar Headings</h3>
                <ul>
                    <li><a href="#">How much do you know</a></li>
                    <li><a href="#">How does it work</a></li>
                    <li><a href="#">There's nothing to fear but fear itself</a></li>
                    <li><a href="#">Continue reading</a></li>
                </ul>
                <h2>LETS KEEP GOING...</h2>
                <img src="image-2.jpg" alt="image-2" class="home-image-5">

                <p>
                    The point is: do not be afraid to do it. If there’s a girl you want to ask out, go ahead and ask her
                    out.
                    There’s totally nothing to lose. If she accepts, then my brother, you have got yourself a date.
                    And just in case she says no, well now you know where you stand.
                    So, you can now move on and stop over thinking it – whether you should ask her or not.
                </p>
                <p>
                    She definitely isn’t the only girl out there and I am not saying this just so you can settle for
                    less.
                    No, I am telling you this because if you didn’t know this already,
                    then there’s no one going to tell you anyway. So, let it be me to throw it in your face.
                    My brother, you haven’t travelled this world even an inch and therefore you haven’t met women.
                </p>
                <p>
                    You haven’t yet seen real beauty. The world is actually such a wide sample space.
                    We can cut to just your country or even just your district.
                    There are girls waiting for a guy that almost looks like you and you have a shot
                    at such beauty. So, if this one says yes, it’s a date. And if she doesn’t, ask the other one.
                </p>
                <p>
                    And if the other one doesn’t take bite, then you got yourself a very nice story.
                    You have become a man. You have become a friend I want to keep in my circle.
                    Because your story beats the stories I have had in years.
                </p>
                <p>
                    Alright point is: they all can’t refuse. So; do not fear to receive a no,
                    do it and get over with it. Do not carry with you huge amounts of
                    uncertainty and pressure. You are a dude. Well, am not cutting out my sisters out there too.
                </p>
                <p>
                    If you like him, tell him. Am pretty sure he too likes you, not that boys filter so much.
                    So, take that shot and stop acting like if he says no, then the end of the world as
                    promised in the holy books will manifest there and then.
                </p>
                <img src="home-image.jpg" alt="home-image" class="home-image-3">
                <p>
                    You see when you joke about it this way, it becomes pretty clear that there’s
                    really nothing to fear. But as with all talks and presentations,
                    people still go back and shy away from the real course of action
                    they learnt they should take. And slowly they run into the very behavior they had before.
                </p>
                <p>
                    Well, I am very sorry to have to say this, my dear beloved.
                    If you have just read this episode up to this point and still at the back of your head
                    something is beeping telling you that you have everything to fear, how about you do this?
                </p>
                <p>
                    I am telling you right now that fuck you! Fuck every one of your fucking bullshit thoughts.
                    You know? Just go fuck yourself. And if you do just that, then there are two things to fear: you and
                    fear!
                </p>
                <p>
                    Alright, my dear beloved readers have a fucking good time. I will leave this episode at this.
                    Please do enjoy yourselves. I will see you in the other episodes. Thank you so much for your time.
                </p>
                <p>
                    ©LUKARD
                    <i class="fa fa-search"></i>
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="firstDiv">
            <div class="one">
                <h3>Important <span>Links</span></h3>
                <a href="#" class="links">Home</a><br>
                <a href="#" class="links">Who we are</a><br>
                <a href="#" class="links">Our Partners</a><br>
                <a href="#" class="links">Important Contacts</a>
            </div>
            <div class="two">
                <h3>Contact <span>Us</span></h3>
                <p>Dreascom Technologies Ltd</p>
                <p>P.O BOX 123, Lira-Uganda</p>
                <p><i class="fa fa-map-marker"></i> Address: Plot 23/25</p>

            </div>
            <div class="three">
                <h3>Latest <span>Tweets</span></h3>
                <p><i class="fa fa-twitter"></i> Dre@mline Ensuring that Secondary Schools manage their activities well
                </p>
                <p><i class="fa fa-twitter"></i> Dre@mline Ensuring that Saccos do manage their activities well</p>
            </div>
            <div class="four">
                <h3>Related <span>Sites</span></h3>
                <p>lirauni.ac.ug</p>
                <p>yammieshoppers.com</p>
            </div>
        </div>
        <div class="secDiv">
            <p>&copy; Copyright 2021 - CampusWeekly. All Rights Reserved.</p>
        </div>
    </footer>


</body>

</html>