<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusWeekly</title>
    <link rel="shortcut icon" href="campusweeklyfavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="home_style.css" type="text/css">
    <link rel="stylesheet" href="st-header.css" type="text/css">
    <link rel="stylesheet" href="main.css" type="text/css">
    <link rel="stylesheet" href="footer.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="side">
        <a href="/" class="side-link">News</a>
        <a href="/personalities" class="side-link">Personalities</a>
        <a href="/lifestyle" class="side-link">Lifestyle</a>
        <a href="/relationships" class="side-link">Sex & Relationships</a>
        <a href="/carrier" class="side-link">Carrier Guidance</a>
    </div>
    <header>
        <div class="header1">
            <div class="quick-links">
                <a href="https://www.yammieshoppers.com" target="_blank">Yammie</a>
                <a href="https://thebee.lirauni.ac.ug" target="_blank">E - Learning</a>
                <a href="https://student.lirauni.ac.ug" target="_blank">Portal</a>
                <a href="https://lirauni.ac.ug" target="_blank">University Website</a>
            </div>
        </div>
        <div class="header2">
            <nav>
                <div class="menu-bars">
                    <h3>MENU</h3>
                </div>
                <div class="image">
                    <a href="/">
                        <img src="campusweeklylogo.png" alt="company-logo" class="image-1" height="80px" width="150px">
                    </a>
                </div>
                <ul class="nav-menu-list">
                    <li class="nav-menu-link active">
                        <a href="/">News</a>
                    </li>
                    <li class="nav-menu-link">
                        <a href="/personalities">Personalities</a>
                    </li>
                    <li class="nav-menu-link">
                        <a href="/lifestyle">Lifestyle</a>
                    </li>
                    <li class="nav-menu-link">
                        <a href="/relationships">Relationships</a>
                    </li>
                    <li class="nav-menu-link">
                        <a href="/carrier">Carrier</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="cw-main">
        <div class="cw-ctr">
            <div class="cw-top-stories">
                <a href="" class="cw-top-story" title="Covid Vaccine Around Campus - University Hospital">
                    <img src="campus.jpg" alt="" width="100%" style="border-radius: 5px;">
                    <div class="story-about">
                        <h2 class="story-header">
                            Covid Vaccine Around Campus - University Hospital
                        </h2>
                        <span class="reporter">By Kibuuka &#183; 1 second Ago</span>
                    </div>
                </a>
                <a href="" class="cw-top-story"
                    title="Lira Campus Opens For Next Academic Year, Students ready to Learn.">
                    <img src="campus.jpg" alt="" width="100%" style="border-radius: 5px;">
                    <div class="story-about">
                        <h2 class="story-header">
                            Lira Campus Opens For Next Academic Year, Teaching Starts
                        </h2>
                        <span class="reporter">By Matia &#183; 2 Hours Ago</span>
                    </div>
                </a>
            </div>
            <div class="cw-campus">
                <div class="campus-ctr">
                    <div class="campus-news">
                        <h1>Campus News</h1>
                        <div class="campus-stories">
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="campus-news">
                        <h1>Campus News</h1>
                        <div class="campus-stories">
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="campus-news">
                        <h1>Campus News</h1>
                        <div class="campus-stories">
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="campus-news">
                        <h1>Campus News</h1>
                        <div class="campus-stories">
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                            <div class="cw-campus-news-story">
                                <img src="campus.jpg" alt="" width="95%" height="350px">
                                <span class="cw-title-sm">
                                    Lira Uni. Senate 75% Complete.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trending">
                    <h1>Trending</h1>
                    <div class="cw-trending-story">
                        <img src="campus.jpg" alt="" width="90%" height="350px">
                        <span class="cw-title-sm">
                            Lira Uni. Senate 75% Complete.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="cw-footer">
        <div class="firstDiv">
            <div class="ft-interior">
                <div class="ft-one">
                    <p>
                        Campus News, University Gossip, Uganda Breaking News, Cribs, Hostels, Admissions,Hottest Campus
                        Girls, Results, Lecturers, Showbiz, Politics, Uganda Entertainment news, Internships, campus
                        gossip,
                        hot babes, cool dudes, freshers, graduation, and more
                    </p>
                </div>
                <div class="ft-two">
                    <a href="#">About Us</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
        <div class="secDiv">
            <p>&copy; Copyright 2021 - CampusWeekly. All Rights Reserved.</p>
        </div>
    </footer>
    <script src="index.js"></script>
</body>

</html>