<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusWeekly</title>
    <link rel="shortcut icon" href="campusweeklyfavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="home_style.css" type="text/css">
    <link rel="stylesheet" href="main.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="header1">
            <div class="left-side">
                <i class="fa fa-envelope"> campusweekly@gmail.com</i> |
                <i class="fa fa-phone"> + 256 706 227 344</i>
            </div>
            <div class="right-side">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-linkedin-square"></i>
            </div>
        </div>
        <div class="header2">
            <nav>
                <div class="image">
                    <a>
                        <div>
                            <img src="campusweeklylogo.png" alt="company-logo" class="image-1" height="80px"
                                width="150px">
                        </div>
                    </a>
                </div>
                <ul>
                    <li class="nav-menu-link"><a href="/">News</a></li>
                    <li class="nav-menu-link"><a href="/personalities">Personalities</a></li>
                    <li class="nav-menu-link"><a href="/lifestyle">Lifestyle</a></li>
                    <li class="nav-menu-link active"><a href="/relationships">Sex & Relationships</a></li>
                    <li class="nav-menu-link"><a href="/carrier">Carrier Guidance</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main-container">
        <h2>Relationships page</h2>
    </div>
    <footer>
        <div class="firstDiv">
            <div class="one">
                <h3>Important <span>Links</span></h3>
                <a href="#" class="links">Home</a><br>
                <a href="#" class="links">Who we are</a><br>
                <a href="#" class="links">Our Partners</a><br>
                <a href="#" class="links">Important Contacts</a>
            </div>
            <div class="two">
                <h3>Contact <span>Us</span></h3>
                <p>Dreascom Technologies Ltd</p>
                <p>P.O BOX 123, Lira-Uganda</p>
                <p><i class="fa fa-map-marker"></i> Address: Plot 23/25</p>

            </div>
            <div class="three">
                <h3>Latest <span>Tweets</span></h3>
                <p><i class="fa fa-twitter"></i> Dre@mline Ensuring that Secondary Schools manage their activities well
                </p>
                <p><i class="fa fa-twitter"></i> Dre@mline Ensuring that Saccos do manage their activities well</p>
            </div>
            <div class="four">
                <h3>Related <span>Sites</span></h3>
                <p>lirauni.ac.ug</p>
                <p>yammieshoppers.com</p>
            </div>
        </div>
        <div class="secDiv">
            <p>&copy; Copyright 2021 - CampusWeekly. All Rights Reserved.</p>
        </div>
    </footer>


</body>

</html>