<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusWeekly</title>
    <link rel="shortcut icon" href="campusweeklyfavicon.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="home_style.css" type="text/css">
    <link rel="stylesheet" href="st-header.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="side">
        <a href="/" class="side-link">News</a>
        <a href="#personality" class="side-link">Personalities</a>
        <a href="#lifestyle" class="side-link">Lifestyle</a>
        <a href="#relationships" class="side-link">Sex & Relationships</a>
        <a href="#carrier" class="side-link">Carrier Guidance</a>
    </div>
    <header>
        <div class="header1">
            <div class="quick-links">
                <a href="https://www.yammieshoppers.com" target="_blank">Yammie</a>
                <a href="https://thebee.lirauni.ac.ug" target="_blank">E - Learning</a>
                <a href="https://student.lirauni.ac.ug" target="_blank">Portal</a>
                <a href="https://lirauni.ac.ug" target="_blank">University Website</a>
            </div>
        </div>
        <div class="header2">
            <nav>
                <div class="menu-bars">
                    <h3>MENU</h3>
                </div>
                <div class="image">
                    <a href="/">
                        <img src="campusweeklylogo.png" alt="company-logo" class="image-1" height="80px" width="150px">
                    </a>
                </div>
                <ul class="nav-menu-list">
                    <li class="nav-menu-link active">
                        <a href="/">News</a>
                    </li>
                    <li class="nav-menu-link">
                        <a href="#personality">Personalities</a>
                    </li>
                    <li class="nav-menu-link">
                        <a href="#lifestyle">Lifestyle</a>
                    </li>
                    <li class="nav-menu-link">
                        <a href="#relationships">Relationships</a>
                    </li>
                    <li class="nav-menu-link">
                        <a href="#carrier">Carrier</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="cw-main">

    </main>
    <footer class="cw-footer"></footer>
    <script src="index.js"></script>
</body>

</html>