@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  color: #fff;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}
