.cw-main {
  width: 100vw;
}
.cw-ctr {
  width: 80%;
  margin: 10px auto;
}
.cw-top-stories {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cw-top-story {
  position: relative;
  margin: 10px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.story-about {
  position: absolute;
  color: #fff;
  bottom: 45px;
  left: 10px;
}
.cw-campus {
  display: flex;
}
.campus-ctr {
  flex: 3;
}
.trending {
  flex: 1;
}
.campus-stories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  column-gap: 10px;
  row-gap: 10px;
}
.cw-title-sm {
  font-size: 20px;
  font-weight: 600;
}
.cw-ct {
  background-color: #3a5caa;
  color: white;
  border-radius: 5px;
  margin: 15px 15px 15px 0px;
  padding: 10px;
}
.cw-img {
  width: 95%;
  height: 250px;
  margin: auto;
  object-fit: cover;
  border-radius: 5px;
}
.cw-img-trending {
  width: 95%;
  height: 200px;
  margin: 10px auto;
  object-fit: cover;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .cw-ctr {
    width: 90%;
  }
  .cw-top-stories {
    flex-direction: column;
  }
  .cw-campus {
    flex-direction: column-reverse;
  }
  .cw-img {
    width: 95%;
    height: 200px;
    margin: auto;
    object-fit: cover;
  }
}
